#define ZMK_POINTING_DEFAULT_MOVE_VAL 40000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 40

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define MODS 1
#define NUM_SYM 2
#define NAV 3
#define MOUSE 4
#define SYS 5

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

&mmv { acceleration-exponent = <0>; };

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <300>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;

      quick-tap-ms = <200>;
      require-prior-idle-ms = <500>;
    };

    skq: sticky_key_quick_release {
      compatible = "zmk,behavior-sticky-key";
      bindings = <&kp>;
      #binding-cells = <1>;
      release-after-ms = <400>;
      quick-release;
      ignore-modifiers;
    };

    slq: slq {
      compatible = "zmk,behavior-sticky-key";
      label = "SLQ";
      bindings = <&mo>;
      #binding-cells = <1>;
      release-after-ms = <2000>;
      quick-release;
      ignore-modifiers;
    };

    moto: moto {
      compatible = "zmk,behavior-hold-tap";
      label = "MOTO";
      bindings = <&mo>, <&to>;

      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <300>;
    };

    tm: tm {
      compatible = "zmk,behavior-hold-tap";
      label = "TM";
      bindings = <&mo>, <&kp>;

      #binding-cells = <2>;
      tapping-term-ms = <250>;
      hold-trigger-key-positions = <16 15 14 13 19 20 21 22>;
    };
  };

  combos { compatible = "zmk,combos"; };

  keymap {
    compatible = "zmk,keymap";

    base {
      display-name = "BASE";
      bindings = <
&kp GRAVE   &kp Q        &kp W        &kp F       &kp P       &kp B        &kp J        &kp L       &kp U       &kp Y        &kp SEMI     &kp BSPC
&kp TAB     &hm GLOBE A  &hm LCTRL R  &hm LALT S  &hm LGUI T  &kp G        &kp M        &hm RGUI N  &hm RALT E  &hm RCTRL I  &hm GLOBE O  &kp ENTER
&caps_word  &kp Z        &kp X        &kp C       &kp D       &kp V        &kp K        &kp H       &kp COMMA   &kp DOT      &kp SQT      &to 1
                                      &tm 1 ESC   &skq LSHFT  &kp SPACE    &key_repeat  &moto 2 2   &moto 3 3
      >;
    };

    mods {
      display-name = "MODS";
      bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &trans      &trans    &trans    &trans     &trans     &trans
&trans  &kp GLOBE  &kp LCTRL  &kp LALT  &kp LGUI  &trans    &trans      &kp LGUI  &kp LALT  &kp LCTRL  &kp GLOBE  &trans
&trans  &trans     &trans     &trans    &trans    &trans    &trans      &trans    &trans    &trans     &trans     &trans
                              &trans    &trans    &trans    &kp LSHIFT  &trans    &trans
      >;
    };

    num+symbols {
      display-name = "NSYM";
      bindings = <
&trans  &trans     &kp N7  &kp N8  &kp N9  &kp MINUS    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp FSLH   &kp BSLH  &trans   &trans
&trans  &kp GRAVE  &kp N4  &kp N5  &kp N6  &kp EQUAL    &kp LBKT              &kp RBKT               &kp SQT    &kp SEMI  &kp ESC  &trans
&trans  &trans     &kp N1  &kp N2  &kp N3  &kp N0       &kp LESS_THAN         &kp GREATER_THAN       &kp COMMA  &kp DOT   &trans   &trans
                           &to 0   &trans  &trans       &trans                &none                  &trans
      >;
    };

    nav+scrl {
      display-name = "NAV";
      bindings = <
&kp F1        &kp F2     &kp F3          &kp F4          &kp F5        &kp F6             &none     &to 4      &none      &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp DELETE
&kp TAB       &kp GLOBE  &kp LCTRL       &kp LALT        &kp LGUI      &kp LSHFT          &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT                          &to 5                                   &to 0
&kp CAPSLOCK  &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END                            &kp C_AC_BACK                           &kp C_AC_FORWARD
                                         &to 0           &trans        &trans             &trans    &trans     &none
      >;
    };

    MOUSE {
      display-name = "MOS";
      bindings = <
&kp GRAVE     &kp F2     &to F3          &to F4          &to F5        &to F6             &to 3      &none           &mmv MOVE_UP    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp DELETE
&kp TAB       &kp GLOBE  &kp LCTRL       &kp LALT        &kp LGUI      &kp LSHFT          &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT                    &to 5                                   &to 0
&kp CAPSLOCK  &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT    &kp HOME   &kp PG_DN       &kp PG_UP       &kp END                            &kp C_AC_BACK                           &kp C_AC_FORWARD
                                         &to 0           &trans        &mkp LCLK          &mkp RCLK  &trans          &none
      >;
    };

    fn+media {
      display-name = "SYS";
      bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7      &kp F8        &kp F9        &kp F10     &kp F11    &kp F12
&out OUT_TOG      &kp GLOBE     &kp LCTRL     &kp LALT      &kp LGUI      &trans          &trans      &kp RGUI      &kp RALT      &kp RCTRL   &kp GLOBE  &to 0
&bt BT_CLR  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_PP   &kp C_NEXT
                                        &to 0         &trans        &trans          &trans      &moto 2 2     &moto 3 3
      >;
    };
  };
};

